.bg-card {
  width: 33%;
  min-height: auto;
  aspect-ratio: 1;
  padding: 5px;
  position: relative;
}

.inner_card {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-warmbrown);

  mask-image: url("../../assets/image/menucard.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
}
