.hero {
  background-image: url("../assets/image/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* box-shadow: 0px 14px 26px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 14px 26px 1px rgba(0, 0, 0, 0.45); */
}
@theme {
  --font-young-serif: "Young Serif", serif;

  --color-cream: #f9f7f8;
  --color-primary: #6f1d1b;

  --color-lightwarmbrown: #bb9457;
  --color-darkbrown: #432818;
  --color-warmbrown: #99582a;
  --color-lightbrown: #ffe6a7;
}

.custom_shape .shape-fill {
  fill: #ffffff;
}

.custom_shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom_shape svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 234px;
}

.custom_shape .shape-fill {
  fill: var(--color-cream);
}
